h1 {
    font-weight: bold;
    vertical-align: top;
}
p {
    font-size: 20pt;
    color: rgb(37, 0, 122);
    text-align: center;
    font: 20pt Arial, sans-serif;
}

.header {
    display: flex;
    min-height: 100vh;
    padding: 8px 50px;
    background-image: url("57780218c5023155acc830e7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.stroke {
    font: 80pt Arial, sans-serif;
    text-shadow:black 1px 1px 0,black -1px -1px 0, 
                black -1px 1px 0,black 1px -1px 0;